<form>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Selectioner le theme</label>
      <select class="form-control theme" id="exampleFormControlSelect1">
        <option value="all">tous</option>
      </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Selectioner la question</label>
        <select class="form-control title" id="exampleFormControlSelect1">
          
        </select>
    </div>

    <div class="form"></div>
</form>